<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- <meta name="msapplication-tap-highlight" content="no" /> -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <title>资源分享平台</title>
  <link rel="stylesheet" th:href="@{/css/lib/material.min.css}">
  <link rel="stylesheet" th:href="@{/css/lib/material-icons.css}">
  <link rel="stylesheet" th:href="@{/css/lib/mdl-selectfield.min.css}">
  <link rel="stylesheet" th:href="@{/css/lib/style.css}">
</head>
<body name="drawer_visible">
<!-- Simple header with scrollable tabs. -->
<div id="scroll-main" class="mdl-layout mdl-js-layout po-fi">
  <header class="mdl-layout__header mdl-shadow--2dp po-re usermain_header mdl-layout__header--scroll">
    <div class="mdl-layout__header-row po-fi high-layer">
      <!-- Title -->
<span class="mdl-layout-title mdl-layout--large-screen-only logo"><a th:href="@{/}">资源分享平台</a></span>
      <div class="mdl-layout-spacer"></div>
      <!-- <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" name="sample" id="fixed-header-drawer-exp">
        </div>
      </div> -->
      <button id="header-operate" class="mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">more_vert</i>
      </button>
      <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="header-operate">
        <li class="mdl-menu__item"><a href="javascript:void(0);">操作1</a></li>
        <li class="mdl-menu__item">其他操作</li>
      </ul>
      <div id="header-gopactiy" class="mdl-fixed-header-bg"></div>
    </div>
    <div id="userbar-gopactiy" class="mdl-header-userbar">
      <div class="container">
        <div class="flexshow">
          <div class="userhead"><img src="../static/images/user.jpg" alt=""></div>
          <div class="userinfo">
            <h3 class="name">ZHAO-Shaofeng</h3>
            <p class="email">bem.zhao@gmail.com</p>
            <p class="sign">热爱学习，学习使我快乐；热爱生活，生活充满激情。</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Tabs -->
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-layout__tab-userbar">
      <a th:href="@{/user}" class="mdl-layout__tab is-active">我的信息</a>        <!-- href="#user_panel_myinfo" -->
      <a th:href="@{/myrelease}" class="mdl-layout__tab">我的发布</a>                                     <!-- href="#user_panel_myrelease" -->
      <a th:href="@{/mycollect}" class="mdl-layout__tab">我的收藏</a>                                     <!-- href="#user_panel_mylike" -->
      <!-- <a th:href="@{/}" class="mdl-layout__tab">消息</a>  -->                          <!-- href="#user_panel_chat" -->
      <a th:href="@{/}" class="mdl-layout__tab">认证</a>                                         <!-- href="#user_panel_attest" -->
      <a th:href="@{/}" class="mdl-layout__tab">设置</a>                                         <!-- href="#user_panel_setting" -->
    </div>
    <!--<div class="entrance">
      <a class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp home-button" href="release.html">
        <i class="material-icons">add</i>
      </a>
    </div> -->
    <div class="mdl-layout__header--userbg mainuser_bg"><!-- <img src="../static/images/banner/banner1.jpg" alt=""> --></div>
    <div class="mdl-js-button mdl-js-ripple-effect mdl-layout__drawer-button menu-button po-fi">
      <i class="material-icons">menu</i>
    </div>
  </header>
  <div class="mdl-layout__drawer po-fi">    <!--Left slip-->
    <div class="userCenter">
      <div class="info">
        <div class="userImg"><a href="javascript:void(0);"><img src="../static/images/user.jpg" alt=""></a></div>
        <p class="userName">ZHAO-Shaofeng</p>
        <p class="userEmail">bem.zhao@gmail.com</p>
        <button id="userOperate" class="mdl-button mdl-js-button mdl-button--icon userOperate">
          <i class="material-icons">arrow_drop_down</i>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect userOperate-ul" for="userOperate">
          <li class="mdl-menu__item"><a href="javascript:void(0);"></a>退出登录</li>
        </ul>
      </div>
      <img src="../static/images/material/banner17.png" alt="" class="user_bg_img">
    </div>
    <div class="nav_drawer">
      <nav class="mdl-navigation">
        <a class="mdl-js-button mdl-js-ripple-effect mdl-navigation__link active" href=""><i class="material-icons">home</i>首页</a>
        <a class="mdl-js-button mdl-js-ripple-effect mdl-navigation__link" th:href="@{/myrelease}"><i class="material-icons">shopping_cart</i>我的发布</a>
        <a class="mdl-js-button mdl-js-ripple-effect mdl-navigation__link" th:href="@{/user}"><i class="material-icons">forum</i>消息</a>
        <a class="mdl-js-button mdl-js-ripple-effect mdl-navigation__link" th:href="@{/mycollect}"><i class="material-icons">star</i>我的收藏</a>
        <div class="mdl-navigation__link-line"></div>
        <a class="mdl-js-button mdl-js-ripple-effect mdl-navigation__link" th:href="@{/user}"><i class="material-icons">person</i>个人中心</a>
        <a class="mdl-js-button mdl-js-ripple-effect mdl-navigation__link" href=""><i class="material-icons">settings</i>设置</a>
      </nav>
    </div>
  </div>
  <main class="mdl-layout__content usermain_content">
    <section class="mdl-layout__tab-panel" id="user_panel_myinfo">
      <div class="page-content"><!-- Your user_panel_info goes here --></div>
    </section>
    <section class="mdl-layout__tab-panel is-active" id="user_panel_myrelease">
      <div class="page-content"><!-- Your user_panel_myrelease goes here -->
        <div class="container user_container">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col subheaders">
              <span class="pull-left">6月</span>
              <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons">delete</i>
              </button>
<!--               <button id="goods_sorting" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons">access_time</i>
              </button>
              <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="goods_sorting">
                <li class="mdl-menu__item">时间由近到远</li>
                <li class="mdl-menu__item">时间由远到近</li>
              </ul> -->
            </div>
            <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp mdl-cell--top user-card">
              <ul class="user_chat_list-main user_cargo_list-main">
                
                <li class="list-item">
                  <a href="">
                    <div class="list-item-avatar"><img src="../static/images/example1.jpg" alt=""></div>
                    <div class="list-item-content">
                      <p class="item-title">Bob Odenkirk</p>
                      <p class="item-sub-title">聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容</p>
                    </div>
                    <span class="secondary-content">
                      <span class="secondary-info">15:27</span>
                    </span>
                  </a>
                </li>

              </ul>
            </div>
          </div><!--mdl-grid end-->
        </div>
      </div>
    </section>
    <section class="mdl-layout__tab-panel" id="user_panel_mylike">
      <div class="page-content"><!-- Your user_panel_mylike goes here --></div>
    </section>
    <section class="mdl-layout__tab-panel" id="user_panel_chat">
      <div class="page-content"><!-- Your user_panel_chat goes here --></div>
    </section>
    <section class="mdl-layout__tab-panel" id="user_panel_attest">
      <div class="page-content"><!-- Your user_panel_attest goes here --></div>
    </section>
    <section class="mdl-layout__tab-panel" id="user_panel_setting">
      <div class="page-content"><!-- Your user_panel_setting goes here --></div>
    </section>
    <footer id="footer">
        Copyright &copy; 2017 breadem.com
        
        <ul class="f-menu">
            <li><a href="#">发送反馈</a></li>
            <li><a href="#">帮助</a></li>
            <li><a href="#">联系我们</a></li>
        </ul>
    </footer>
  </main>
</div>


<script th:src="@{/js/lib/jquery-1.11.3.min.js}"></script>
<script th:src="@{/js/lib/material.min.js}"></script>
<script th:src="@{/js/lib/mdl-selectfield.min.js}"></script>
<script th:src="@{/js/lib/main.js}"></script>
</body>
</html>